/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    padding-bottom: 80px;
    position: relative; /* Permite que o rodapé tenha mais controle de layout */
}

/* Cabeçalho */
header {
    background-color: #444;
    color: white;
    padding: 20px;
    width: 100%;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Seção Carrossel */
#carousel {
    width: 80%;
    overflow: hidden;
    margin: 30px 0;
    position: relative;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 100%;
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    margin: 0 10px;
    border-radius: 10px;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Botões de navegação */
button {
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 30px;
    padding: 10px;
    cursor: pointer;
    transform: translateY(-50%);
    z-index: 10;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

/* Seção Introdução */
#intro {
    text-align: center;
    margin-bottom: 40px;
}

/* Seção Galeria */
#gallery {
    text-align: center;
    margin-bottom: 40px;
}

#gallery img {
    width: 30%;
    margin: 10px;
    border-radius: 10px;
}

/* Estilos do contador */
#timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 7rem;
    height: 5rem;
    padding: 10px;
    transition: all 0.3s ease;
}

.box:hover {
    box-shadow: 0 4px 15px rgba(255, 105, 180, 0.2);
}

.box span {
    font-size: 36px;
    font-weight: bold;
    color: white;
}

.box small {
    font-size: 18px;
    color: white;
    margin-top: 10px;
}

/* Estilos do rodapé */
footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px; /* Espaço entre o contador e o rodapé */
    width: 100%;
}
